<div class="main-container" style="background-color: #b19f9f;">
  <nav class="toolbar navbar navbar-expand-lg navbar-blue bg-dark" [ngClass]="{'navbar-collapse': isCollapsed, 'collapse': !isCollapsed}">
      <a class="nav-link" routerLink="/">
        <img
        width="40"
        alt="Pokemon"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/2052px-Pok%C3%A9_Ball_icon.svg.png"
      /></a>
    <button class="navbar-toggler" type="button" 
            (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed"
            [attr.data-toggle]="'collapse'" [attr.data-target]="'#navbarNavDropdown'" 
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fas fa-bars"></i> </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
      <div class="spacer"></div>
      <ul class="navbar-nav" *ngIf="identity && identity.name">
        <li ngbDropdown class="nav-item">
          <button class="nav-link dropdown-color" id="dropdownBasic1" ngbDropdownToggle>
            {{ identity.name + " " + identity.surname}}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" routerLink="/user-data">Mi Cuenta</a>
            <a class="dropdown-item" routerLink="/register">Cambiar Contraseña</a>
            <a class="dropdown-item" routerLink="/logout/1">Cerrar Sesión</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav" *ngIf="!identity">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Iniciar Sesion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Crear Cuenta</a>
        </li>
      </ul>
    </div>
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>
  <footer class="navbar-nav bg-dark fixed-bottom transition-footer">
    <div class="container"><h3 class="nav-link">Hola</h3></div>
  </footer>

</div>